<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Update Actor</title>

        <link rel="stylesheet" href="/stylesheets/login.css">
    </head>
    <body>
        <a href="/actors/<%=actor._id%>"><img class="back" src="/images/back.png" alt="Back"/></a>
        <h2>Update Actor</h2>

        <form class="form-update" action='/actors/update/<%=actor._id%>' method="post" enctype="multipart/form-data">
            <div class="imgcontainer">
                <img src="data:image/jpg;base64,<%=actor.photos[0].toString('base64')%>" alt="Update actor" class="avatar-update">
            </div>
            <label>*leave fields empty if you dont want to change them</label>
            <div class="center-top">
                <label><b>Name</b></label>
                <input type='text' name='name' placeholder="<%=actor.name%>"/>
            </div>
            <div class="left">
                <label><b>Hometown</b></label>
                <input type='text' name='hometown' placeholder="<%=actor.hometown%>"/>
            </div>
            <div class="right">
                <label><b>Birthdate</b></label>
                <input type="date" name="birthdate" value="<%=actor.birthdate%>"/>
            </div>
            <div class="center-bot">
                <label><b>Biography</b></label>
                <textarea rows="6" cols="50" type='text' name='biography'><%=actor.biography%></textarea>
            </div>
            <label><b>Films *write titles, separate them with ';'</b></label>
            <input type="text" name="films" value="<%=titles%>">
            <div class="left">
                <label><b>Photo</b></label>
                <input type='file' name='photo'/>
            </div>
            <% for (var i = 1; i <= 5; i++) {%>
                <% if(i%2 == 0) {%>
                    <div class="left">
                <%} else {%>
                    <div class="right">
                <%}%>
                    <label><b>Screen <%=i%></b></label>
                    <input type='file' name='screen<%=i%>'/>
                </div>
            <%}%>
            <button type='submit' value="Upload form" class=''>Update actor</button>
        </form>

    </body>
</html>
