<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Films</title>

        <link rel="stylesheet" href="stylesheets/films.css">
    </head>
    <body>
        <a href="<%=back_url%>"><img class="back" src="/images/back.png" alt="Back"/></a>
        <h2>Films</h2>

        <div class="searchfield">
            <form id="searchfield">
                <% if(searchreq && 0!==searchreq.length) {%>
                    <input type="text" id="filmtitle" name="filmtitle" value="<%=searchreq%>" placeholder="Search..."/>
                <%} else {%>
                    <input type="text" id="filmtitle" name="filmtitle" placeholder="Search..."/>
                <%}%>
                <input type="submit" value="Search">
            </form>
        </div>

        <div id="results">
            <div class="posters">
                <% for (var i = 0; i < doc.length; i++) { %>
                    <div class="responsive">
                        <div class="img">
                            <a href="/films/<%=doc[i]._id%>"><img src="data:image/jpg;base64,<%= doc[i].poster.toString('base64')%>"/></a>
                            <div class="desc">
                                <%=doc[i].title%>
                            </div>

                        </div>
                    </div>
                <%}%>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>

        <script id="mustache-script" type="x-tmpl-mustache">
              <div id="results">
                    <div class="posters">
                        {{#films}}
                            <div class="responsive">
                                <div class="img">
                                  <a href="/films/{{_id}}"><img src="data:image/jpg;base64,{{poster}}"></a>
                                  <div class="desc">
                                      {{title}}
                                  </div>
                                </div>
                            </div>
                        {{/films}}
                    </div>
                    {{#empty}}
                      <div class="fail">
                        Nothing found
                      </div>
                    {{/empty}}
              </div>
        </script>

        <script src="/javascript/ajaxsearch.js"></script>
        <script src="/javascript/bootstrap.js"></script>

        <div class="container">
            <ul class="pagination">
                <% for (var i = 1; i <= pages.all; i++) {%>
                    <% if (i == pages.current) {%>
                        <li><a class="current" href="#"><%=i%></a></li>
                    <%} else {%>
                        <li><a href="/films?page=<%=i%>"><%=i%></a></li>
                    <%}%>
                <%}%>
            </ul>
        </div>

    </body>
</html>
