<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%=doc.name%></title>

        <link rel="stylesheet" href="/stylesheets/object.css">
    </head>
    <body>
        <a href="<%=back_url%>"><img class="back" src="/images/back.png" alt="Back"/></a>
        <h2><%=doc.name%></h2>

        <div class="body">

            <% if(user) {%>
                <div class="buttons">
                    <% if(user.statusAdmin) {%>
                        <form action="/actors/update/<%=doc._id%>" method="get">
                            <button class="button update">Update actor</button>
                        </form>
                        <button id='myBtn' class="button delete">Delete Actor</button>
                        <div id="myModal-delete" class="modal-delete">

                            <!-- Modal content -->
                            <div class="modal-delete-content">
                                <div class="modal-delete-header">
                                    <span class="modal-delete-close">&times;</span>
                                    <h2>Delete Actor</h2>
                                </div>
                                <div class="modal-delete-body">
                                    <form action="/actors/delete/<%=doc._id%>" method="get">
                                        <p>Are you sure?</p>
                                        <input type="submit" id="acceptDelete" class="button delete" value="Delete"/>
                                        <input type="button" id="cancelDelete" class="button subscribe" value="Cancel"/>
                                    </form>
                                </div>
                                <div class="modal-delete-footer">
                                    <h3>Pls leave me alive x_x</h3>
                                </div>
                            </div>
                        </div>
                    <%}%>
                </div>
            <%}%>

            <div class="image-text">
                <img class="mainimage" src="data:image/jpg;base64,<%=doc.photos[0].toString('base64')%>"/>

                <dl class="about">
                    <dt>Full name:</dt><dd><%=doc.name%></dd>
                    <dt>Birth date:</dt><dd><%=doc.birthdate%></dd>
                    <dt>Hometown:</dt><dd><%=doc.hometown%></dd>
                    <dt>Films:</dt><dd>
                    <% for (var i = 0; i < doc.films.length; i++) {%>
                        <a href="/films/<%=doc.films[i]._id%>"><%=(doc.films[i].title) %></a><%=(i==doc.films.length-1 ? ' ' : ' , ')%>
                    <%}%></dd>
                </dl>
                <div class="plot">
                    <dt>Biography:</dt><dd><%=doc.biography%></dd>
                </div>
            </div>



        <div class="row">
            <% for(var i = 1; i <doc.photos.length; i++) {%>
              <div class="column">
                  <img class="coolimg" src="data:image/jpg;base64,<%=doc.photos[i].toString('base64')%>"
                    style="width:100%" onclick="openModal();currentSlide(<%=i%>)" class="hover-shadow cursor">
              </div>
            <%}%>
        </div>
        </div>

        <div id="myModal" class="modal">
          <span class="close cursor" onclick="closeModal()">&times;</span>
          <div class="modal-content">
              <% for (var i = 1, len = doc.photos.length-1; i < doc.photos.length; i++) {%>
                  <div class="mySlides">
                    <div class="numbertext"><%=i%> / <%=len%></div>
                    <img class="coolimg modal-img" src="data:image/jpg;base64,<%=doc.photos[i].toString('base64')%>"
                        style="width:100%">
                  </div>
              <%}%>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

            <div class="caption-container">
              <p id="caption"></p>
            </div>

            <% for (var i = 1; i < doc.photos.length; i++) {%>
                <div class="column">
                  <img class="demo cursor" class="coolimg"
                    src="data:image/jpg;base64,<%=doc.photos[i].toString('base64')%>"
                    style="width:100%" onclick="currentSlide(<%=i%>)">
                </div>
            <%}%>
          </div>
        </div>

        <script src="/javascript/modalpictures.js"></script>
        <script src="/javascript/deleteModal.js"></script>
    </body>
</html>
